body{
    margin: 0;
    padding: 0;
    
}
#col1{
    float: left;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
}
header{background-color: red;text-align: center;height: 80px}
h1{padding-top: 0.5%;}
#campos{background-color: dimgrey; height: 200px}
#elementos{background-color: aquamarine; height: 200px}
#introEl{margin-top: 1%;}
